*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #393E46;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 215px) {
    .container{
        width: 200px;
    }
}
@media (min-width: 300px) {
    .container{
        width: 300px;
    }
}
@media (min-width: 520px) {
    .container{
        width: 500px;
    }
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/*Index.html*/
.heroPage{
    margin-top: 10px;
    padding: 30px;
}
.heroPage .container .box .text{
    font-weight: bold;
    padding: 10px;
}
.heroPage .container .box .text h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.heroPage .container .box .text p {
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heroPage .container .box{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px;
    width: 600px;
}
.heroPage .container .box .sign{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.heroPage .container .box .sign .button{
    background-color: aqua;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heroPage .container .box .sign .button a{
    text-decoration: none;
    color: black;
}

/*Login page*/
.signPage .container .box{
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 700px;
    height: fit-content;
    border-radius: 10px;
}
.signPage .container .box .text{
    text-align: center;
}
.signPage .container .box .text h1{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signPage .container .box .text p{
    font-weight: bold;
    font-size: 18px;
    color: #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signPage .container .box .details{
    margin: 10px auto;
    width: 500px;
    height: fit-content;
    padding: 10px;
}
.signPage .container .box .details form{
    text-align: center;
}
.signPage .container .box .details form label{
    display: block;
    padding: 5px;
    font-weight: bold;
}
.signPage .container .box .details form input{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 5px auto;
}
.reg{
    display: block;
    text-align: center;
}
/*list voitures page*/
.navbar{
    width: 100%;
    padding: 0px 10px;
    position: relative;
    height: 90px;
    display: block;
    background-color: #222831;
}
.navbar .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 99%;
    transform: translate(-50%, -50%);
    margin: auto;
    left: 50%;
    padding: 10px;
    top: 50%;
}
.navbar .box .text{
    font-size: 15px;
    color: #EEEEEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar .box .details {
    display: flex;
    width: 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 22px;
}
.navbar .box .details .p1,.navbar .box .details .p2 a{
    color:#EEEEEE ;
}
.main .container .box .text{
    color: #EEEEEE;
    font-family: cursive;
}
.main{
    padding-top: 20px;
    height: 100vh;
}
.main .container .box{
    width: 100%;
}
.main .container .box .details{
    margin-top: 15px;
}
.main .container .box .details form {
    display: flex;
    justify-content:left;
    align-items: center;
    flex-wrap: wrap;
}
.main .container .box .details form select{
    padding: 10px;
    width: 180px;
    height: 40px;
    margin: 5px;
}
.main .container .box .details form input {
    font-size: 20px;
    width: 180px;
    height: 40px;
}
.main .container table{
    border-collapse: collapse;
    margin-top: 15px;
    padding: 30px;
    width: 100%;
    max-width: 100%;
}
.main .container th{
    color: #222831;
}
.main .container tr,th,td,table{
    border: 3px solid black;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main .container tr{
    background-color: #dbdbdb;  
}
.main .container tr:nth-child(even){
    background-color: #ababab;
}
.main .container .box .details button{
    padding: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #777;
    border-radius: 10px;
    cursor: pointer;
}
.main .container .box .details button a{
    color: black;
}
a{text-decoration: none;}
.main .container .box .details .clickable{
    background-color: aqua;
}
.main .container .box .details .unclickable{
    pointer-events: none;
    cursor: not-allowed;
    background-color: brown;
}
.main .container{
    position: relative;
}
.main .container .reserver_form{
    display: none;
}
.main .container .reserver_form .details{
    padding: 10px   ;
}
.main .container .reserver_form{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #EEEEEE;
   border: 3px solid #393E46;
   padding: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 500px;
   height: fit-content;
   max-width: 100%;
}
.main .container .reserver_form .text{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.main .container .reserver_form .res_form{
    padding: 20px;
    font-size: 18px;
}
.main .container .reserver_form p{
    padding: 10px;
    font-weight: 600;
    font-size: 19px;
    margin: 15px
}
.main .container .reserver_form .res_form input{
    margin: 10px;
}
.main .container .reserver_form .res_form input[type="submit"]{
    padding: 10px 20px;
    display: flex;
    margin: 10px auto;
    background-color: #393E46;
    color: white; 
}
.main .container .reserver_form .details .close{
    width: fit-content;
    cursor: pointer;
}
.main .container .reserver_form .details .close i{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 19px;
    
}

/*adminChose page*/
.chose{
    background-color: #EEEEEE;
    border-radius: 10px;
    height: 300px;
    position: absolute;
    top: 50%;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chose .container .box .text{
    text-align: center;
}
.chose .container .box .details{
    margin: 80px auto;
    width: 500px;
    height: fit-content;
    max-width: 100%;
}
.chose .container .box .details .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.chose .container .box .details .buttons a{
    background-color: #393E46;
    color: #EEEEEE;
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
/*Admin form*/
#adminForm{
    justify-content: space-between;
}