*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #F9F8F6;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 215px) {
    .container{
        width: 200px;
    }
}
@media (min-width: 300px) {
    .container{
        width: 300px;
    }
}
@media (min-width: 520px) {
    .container{
        width: 500px;
    }
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/*Index.html*/
.heroPage{
    margin-top: 10px;
    padding: 30px;
}
.heroPage .container .box .text{
    font-weight: bold;
    padding: 10px;
}
.heroPage .container .box .text h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.heroPage .container .box .text p {
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heroPage .container .box{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px;
    width: 600px;
}
.heroPage .container .box .sign{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.heroPage .container .box .sign .button{
    background-color: aqua;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heroPage .container .box .sign .button a{
    text-decoration: none;
    color: black;
}

/*Login page*/
.signPage .container .box{
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 700px;
    height: fit-content;
    border-radius: 10px;
}
.signPage .container .box .text{
    text-align: center;
}
.signPage .container .box .text h1{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signPage .container .box .text p{
    font-weight: bold;
    font-size: 18px;
    color: #777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signPage .container .box .details{
    margin: 10px auto;
    width: 500px;
    height: fit-content;
    padding: 10px;
}
.signPage .container .box .details form{
    text-align: center;
}
.signPage .container .box .details form label{
    display: block;
    padding: 5px;
    font-weight: bold;
}
.signPage .container .box .details form input{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 5px auto;
}
.reg{
    display: block;
    text-align: center;
}
/*list voitures page*/
.navbar{
    width: 100%;
    padding: 0px 10px;
    position: relative;
    height: 90px;
    display: block;
    background-color: white;
}
.navbar .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 99%;
    transform: translate(-50%, -50%);
    margin: auto;
    left: 50%;
    padding: 10px;
    top: 50%;
}
.navbar .box .text{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar .box .details{
    display: flex;
    width: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 22px;
}
.main{
    background-color: #EFE9E3;
    padding-top: 20px;
    height: 90vh;
}
.main .container .box{
    width: 100%;
}
.main .container .box .details{
    margin-top: 15px;
}
.main .container .box .details form {
    display: flex;
    justify-content:left;
    align-items: center;
    flex-wrap: wrap;
}
.main .container .box .details form select{
    padding: 10px;
    width: 180px;
    height: 40px;
    margin: 5px;
}
.main .container .box .details form input {
    font-size: 20px;
    width: 180px;
    height: 40px;
}
.main .container table{
    border-collapse: collapse;
    margin-top: 15px;
    padding: 30px;
    width: 1000px;
    max-width: 100%;
}
.main .container tr,th,td,table{
    border: 3px solid black;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main .container tr:nth-child(even){
    background-color: #dddddd;
}
.main .container .box .details button{
    padding: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid #777;
    border-radius: 10px;
}
.main .container .box .details button a{
    color: black;
}
a{text-decoration: none;}
.main .container .box .details .clickable{
    background-color: aqua;
}
.main .container .box .details .unclickable{
    pointer-events: none;
    cursor: not-allowed;
    background-color: brown;
}